misa.lol, www.misa.lol {
	encode gzip
	handle /dashboard* {
		reverse_proxy frontend:3000
	}
	handle /admin* {
		rewrite * /dashboard{uri}
		reverse_proxy frontend:3000
	}
	handle {
		reverse_proxy api:8000
	}
}
